<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./index.css" />
    <title>Etchlife Solutions</title>
  </head>
  <body style="text-align: left;">
    <nav>
      <div>
         <a href="../index.html">
        <img src="../assets/images/etchlife-logo.png" alt="" id="logo" />
        </a>
      </div>
      <div class="links">
          <a href="../index.html#about">About </a>
          <a href="../index.html#services">Services </a>
          <a href="../index.html#contact">Contact </a>
      </div>
    </nav>
    <main>
      <section>
        <h1>MEDICAL DIAGNOSTIC CONSULTANCY</h1>
        <p>
          Get the best of quality from our pool of experienced Diagnostic
          Business Consultants in areas such as:
        </p>
        <ul>
          <li>Total Quality Management System (TQMS)</li>
          <li>Laboratory Organization & Management</li>
          <li>Cost Containment/LEAN implementation</li>
          <li>Inventory Management</li>
          <li>Diagnostic Marketing Strategy Click here for more information</li>
        </ul>
        <p>Click <a href="">here</a> for more information</p>
      </section>
    </main>
  </body>
</html>
