<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./index.css" />
    <title>Etchlife Solutions</title>
  </head>
  <body style="text-align: left;">
    <nav>
      <div>
         <a href="../index.html">
        <img src="../assets/images/etchlife-logo.png" alt="" id="logo" />
        </a>
      </div>
      <div class="links">
          <a href="../index.html#about">About </a>
          <a href="../index.html#services">Services </a>
          <a href="../index.html#contact">Contact </a>
      </div>
    </nav>
    <main>
      <section>
        <h1>MEDICAL DIAGNOSTIC CONSULTANCY</h1>
        <p>
          Get the best of quality from our pool of experienced Diagnostic
          Business Consultants in areas such as:
        </p>
        <ul>
          <li> <h3>Total Quality Management System (TQMS)</h3> </li>
          <p>With our mentorship programs, seminars and trainings, our team is able to help your laboratory implement quality management systems which positions your organization for ISO accreditation.</p>
          <div class="mlc-img">
            <img src="../assets/images/lab-act-1.jpg" alt="">
          </div>

          <li><h3>Laboratory Organization & Management</h3></li>
          <p>Running a lab is not so different from running a business. Like a business, a lab is made up of people with diverse skills who work as a team. Managing this team in line with stipulated budget to achieve a desired goal requires experience. Our team will help you achieve the task of equipping your personnel with that skill.</p>
          <div class="mlc-img">
            <img src="../assets/images/lab-act-s.jpg" alt="">
          </div>

          <li><h3>Cost Containment/LEAN implementation</h3></li>
          <p>Cost control/containment is the practice of identifying and reducing business expenses/processes to increase profits, and it starts with the budgeting process. Cost control is an important factor in maintaining and growing profitability for any organization. With our expert knowledge, our consultants can help you identify where cost can be reduced in your laboratory.</p>
          <div class="mlc-img">
            <img src="https://www.planettogether.com/hubfs/image-png-Mar-09-2021-07-05-08-82-PM.png" alt="">
          </div>

          <li><h3>Inventory Management</h3></li>
          <p>Effectively managing inventory gets harder as your laboratory business scales and the amount of inventory you are handling increases. Taking advantage of technology can make things easier for yourself and your employees. This is why an inventory management system is invaluable to any retail business. With our laboratory inventory solutions, you are rest assured of reduced wastage and proper monitoring</p>
          <div class="mlc-img">
            <img src="../assets/images/lab-act-4.jpg" alt="">
          </div>
          </div>

          <li><h3>Diagnostic Marketing Strategy</h3> </li>
          <p>Marketing in the health sector can be highly competitive. Our consultants can help you identify your market, device means of reaching them, get and keep their attention (Retainer).</p>
          <div class="mlc-img">
            <img src="https://rockcontent.com/wp-content/uploads/2022/02/5-ps-of-marketing-1024x538.png" alt="">
          </div>
          </div>
        </ul>
        <p style="padding-top: 20px; padding-bottom: 40px;">Click <a href="">here</a> for more information</p>
      </section>
      <!-- <div > -->
      <!-- </div> -->
    </main>
  </body>
</html>
